.card {
	display: flex;
	flex-direction: column;
	cursor: pointer;

	&__image {
		width: 100%;
	}

	&__rating {
		display: flex;
		gap: toRem(5);
		margin-top: toRem(13);
		margin-bottom: toRem(19);
	}

	&__rating-star {
		background-image: url(../assets/images/introduce-food-item/star.svg);
		width: toRem(14);
		height: toRem(14);
	}

	&__name {
		font-family: $font-secondary;
		line-height: $lh-x-medium;
	}
}
