.banner {
	display: flex;
	flex-direction: column;

	@include desktop {
		display: flex;
		flex-direction: row;
	}

	&__img {
		width: 100%;
		height: 100%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		background-color: #e4f1ff;
		padding: 29px 24px 34px 24px;
		border-radius: 0px 0px 16px 16px;
		width: 100%;

		&__introduce {
			display: flex;
			gap: 11px;
			font-family: $font-secondary;
			font-size: 10px;
			line-height: $lh-x-medium;
		}

		&__heading {
			font-size: 30px;
			width: 77%;
			line-height: $lh-x-small;
		}

		&__description {
			font-family: $font-secondary;
			line-height: $lh-x-medium;
			width: 75%;
		}

		&__next {
			display: flex;
			justify-content: flex-end;
		}
	}

	@include tablet {
		.banner {
			&__content {
				display: flex;
				padding: 50px 35px 34px 48px;

				&__heading {
					font-size: $fs-huge;
					width: 95%;
				}

				&__description {
					font-size: $fs-small;
					width: 77%;
				}
			}
		}
	}

	@include desktop {
		.banner {
			display: flex;
			flex-direction: row;

			&__img {
				width: 60%;
				height: 100%;
			}

			&__content {
				padding: 151px 35px 35px 48px;
				border-radius: 0px 16px 16px 0px;
				width: 40%;

				&__description {
					font-size: $fs-medium;
					width: 77%;
				}
			}
		}
	}
}
