.category {
	&__title {
		font-size: 24px;
		line-height: $lh-x-small;
		margin-top: 3.3rem;

		@include tablet {
			font-size: $fs-x-huge;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		margin-top: 2rem;
		width: 30%;

		@include tablet {
			width: 26%;
		}

		@include desktop {
			width: 15%;
		}

		&-image {
			width: 100%;
		}

		&-name {
			display: flex;
			justify-content: center;
			margin-top: 8px;
			font-family: $font-secondary;
			font-size: $fs-small;
			line-height: $lh-x-medium;

			@include tablet {
				font-size: $fs-large;
			}
		}
	}
}
