.category {
	&__title {
		font-size: toRem(24);
		line-height: $lh-x-small;
		margin-top: toRem(54);

		@include tablet {
			font-size: toRem(36);
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		margin-top: toRem(34);
	}

	&__image {
		width: toRem(130);

		@include tablet {
			width: toRem(160);
		}
	}

	&__name {
		display: flex;
		justify-content: center;
		margin-top: toRem(8);
		font-family: $font-secondary;
		font-size: $fs-small;
		line-height: $lh-x-medium;

		@include tablet {
			font-size: $fs-large;
		}
	}
}
