.category {
	&__title {
		font-size: toRem(24);
		line-height: $lh-x-small;
		margin-top: toRem(54);
		margin-bottom: toRem(34);

		@include tablet {
			font-size: toRem(36);
		}
	}

	&__list {
		display: grid;
		grid-gap: toRem(24);
		grid-template-columns: repeat(3, 1fr);

		@include desktop {
			grid-template-columns: repeat(6, 1fr);
		}
	}

	&__item {
		margin-top: toRem(34);
		width: 100%;
	}
}
