.delicious {
	&__title {
		font-size: toRem(24);
		line-height: $lh-x-small;
		margin-top: toRem(38);
		margin-bottom: toRem(32);

		@include tablet {
			font-size: $fs-x-huge;
		}
	}

	&__list {
		@include tablet {
			display: flex;
			flex-direction: row;
		}
	}

	&__item {
		@include tablet {
			margin-right: toRem(24);

			&:last-child {
				margin-right: 0;
			}
		}

		@include desktop {
			margin-right: toRem(25);
			width: toRem(356);
		}
	}

	&__image {
		margin-top: toRem(32);
	}

	&__name-food {
		width: toRem(250);

		@include tablet {
			font-size: $fs-large;
			width: toRem(192);
		}

    @include desktop {
      width: 100%;
    }
	}
}
