.introduce {
	&__title {
		font-size: toRem(24);
		line-height: $lh-x-small;
		margin-top: toRem(38);

		@include tablet {
			font-size: $fs-x-huge;
		}
	}

	&__list {
		@include tablet {
			display: flex;
			flex-direction: row;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		cursor: pointer;

		@include tablet {
			margin-right: toRem(24);

			&:last-child {
				margin-right: 0;
			}
		}

		@include desktop {
			margin-right: toRem(25);
			width: toRem(356);
		}
	}
	&__image {
		margin-top: toRem(32);
		width: 100%;
	}

	&__rating {
		display: flex;
		gap: toRem(5);
		margin-top: toRem(13);
		margin-bottom: toRem(19);
	}

	&__rating-star {
		background-image: url(../assets/images/introduce-food-item/star.svg);
		width: toRem(14);
		height: toRem(14);
	}

	&__name-food {
		font-family: $font-secondary;
		line-height: $lh-x-medium;
		width: toRem(250);

		@include tablet {
			font-size: $fs-large;
			width: toRem(160);
		}
	}
}
