.recipes {
	&__title {
		font-size: $fs-x-huge;
		line-height: $lh-x-small;
	}

	&__list {
		margin-top: toRem(24);
		display: grid;
		grid-gap: toRem(24);
		grid-template-columns: repeat(2, 1fr);

		@include tablet {
			grid-template-columns: repeat(3, 1fr);
		}

		@include desktop {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__food {
		width: 100%;
		margin-bottom: toRem(24);
	}

	&__name {
		font-size: $fs-small;
		margin-top: toRem(11);
		width: toRem(180);

		@include tablet {
			font-size: $fs-x-large;
			width: 100%;
		}
	}

	&__load {
		font-family: $font-secondary;
		cursor: pointer;
		border: toRem(1) solid #000;
		border-radius: toRem(3);
		justify-content: center;
		align-items: center;
		width: toRem(124);
		height: toRem(31);
		margin: toRem(30) auto toRem(96) auto;
		display: flex;

		&:hover {
			background-color: #e4f1ff;
		}

		@include tablet {
			font-size: $fs-x-large;
			width: toRem(189);
			height: toRem(45);
		}
	}
}
