/* Start reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset  or older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End reset CSS */

/*  Start ultilities */
body {
    background-color: #26335d;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.container {
    width: 1054px;
    margin: 0 auto;
}

/*  End ultilities */

/* Start navbar */
.navbar {
    height: 91px;
    display: flex;
    justify-content: space-between;
}

.navbar__left {
    display: flex;
    gap: 74px;
    align-items: center;
}

.navbar__navigation {
    display: flex;
    gap: 24px;
}

.navbar__brand-name {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
}

.navbar__navigation__item {
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 700;
}

.navbar__right {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-left: 20px;
}

.navbar__login {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.navbar__btn__right-arrow {
    background-color: #8d5cf6;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    display: inline-block;
    background-position: center;
}

.icon__arrow--right {
    background-image: url("images/svg/icon-arrow-right.svg");
    background-position: right 2px center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 10px;
}

/* End navbar */

/* Start banner */
.container-banner {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner {
    display: flex;
    width: 1439px;
    gap: 30px;
}

.banner__left {
    display: flex;
    width: 573px;
    flex-direction: column;
    gap: 30px;
}

.banner__title {
    font-size: 58px;
    font-weight: 700;
}

.banner__des {
    font-size: 20px;
    font-weight: 400;
    width: 458px;
}

.banner__btn {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.btn {
    padding: 15px 40px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #8d5cf6;
}

.btn-join {
    background-color: #8d5cf6;
}

.btn-learn {
    background-color: #26335d;
}

.banner__right {
    display: flex;
    width: 704px;
    height: 682px;
    justify-content: center;
    align-items: center;
    padding-right: 19px;
}

.banner__img {
    width: 642px;
}

/* End baner */

/* Start introduce */
.container__introduce {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 160px 0px;
}

.content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 691px;
    text-align: center;
    letter-spacing: 0.2px;
}

.first-title {
    color: #8d5cf6;
    line-height: 1.7;
}

.title {
    font-size: 40px;
    line-height: 1.25;
}

.description {
    font-weight: 400;
    line-height: 1.45;
}

.intro {
    display: flex;
    position: relative;
}

.intro__img {
    width: 688px;
    height: 363px;
}

.intro__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #8d5cf6;
    background-color: #8d5cf6;
    position: absolute;
    left: 50%;
    top: 50%;
}

.icon-play {
    background-image: url("./images/svg/icn-play.svg");
    width: 19px;
    height: 23px;
}

/* End introduce */

/* Start course */
.course__card {
    display: flex;
    width: 688px;
    height: 288px;
    gap: 30px;
}

.course__tag {
    display: flex;
    width: 328px;
    flex-direction: column;
    padding: 35px 40px;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}

.tag-circle {
    display: flex;
    width: 35px;
    padding: 22px 20.5px 18px 19.5px;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff2f3;
}

.icon-bag {
    background-image: url("./images/svg/icon-bag.svg");
    width: 20.789px;
    height: 32px;
}

.tag-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #252b42;
}

.tag-crossbar {
    width: 50px;
    height: 2px;
    background-color: #e74040;
}

.tag-desc {
    width: 150px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: #737373;
    letter-spacing: 0.2px;
}

.icon-book {
    background-image: url("./images/svg/icon-book.svg");
    width: 26.923px;
    height: 32px;
}

/* End course */

/* Start banner package */
.banner-package {
    width: 1037px;
    gap: 35px;
    display: flex;
}

.banner__content {
    display: flex;
    width: 507px;
    flex-direction: column;
    gap: 35px;
    justify-content: center
}

.banner__crossbar {
    width: 94px;
    height: 7px;
    background-color: #e74040;
}

.description-package {
    width: 350px;
}

.icon__arrow-next {
    background-image: url("./images/svg/icon__arrow-next.svg");
    width: 9px;
    height: 16px;
}

.banner__link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-img__tag {
    display: inline-flex;
    padding: 0px 10px;
    align-items: center;
    border-radius: 3px;
    width: 51px;
    height: 24px;
    background-color: #e74040;
    justify-content: center;
    color: #fff;
}

/* End banner package */
