/* Start reset CSS */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
 }

 /* HTML5 display-role reset  or older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
	display: block;
 }

 body {
	line-height: 1;
 }

 ol, ul {
	list-style: none;
 }

 blockquote, q {
	quotes: none;
 }

 blockquote:before, blockquote:after,
 q:before, q:after {
	content: '';
	content: none;
 }

 table {
	border-collapse: collapse;
	border-spacing: 0;
 }
 /* End reset CSS */

 /*  Start ultilities */
 body {
    background-color: #26335d;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700; 
    color: #fff;
 }

 .container {
    width:  1054px;  
    margin: 0 auto; 
 }
 /*  End ultilities */

 /* Start navbar */
 .navbar {
    height: 91px;
    width:  977px;
    display: flex;
    justify-content: space-between;
 }

 .navbar__left {
    display: flex;  
    gap: 74px;
    align-items: center;
 }

 .navbar__navigation {
    display: flex;
    gap: 24px;
 }

 .navbar__brand-name {
    font-size: 21px;
    font-weight: 700; 
    color: #fff;   
 }

 .navbar__navigation__item {
    padding-top: 16px ;
    padding-bottom: 16px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 700;
 }

 .navbar__right {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-left: 20px;
 }

 .navbar__login {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
 }

 .navbar__btn__right-arrow {
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px ;
    padding: 15px 25px;
    color: #fff;
    background-color: #8d5cf6;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #8d5cf6;
 }  

 .icon__arrow--right {  
    display: inline-block;
    background-image: url('images/svg/icon-arrow-right.svg');
    background-position: right 2px center ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 10px;
 }

 /* End navbar */

 /* Start banner */
 .container-fluid {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .banner {
    display: flex;
    width: 1439px;
    justify-content: flex-end;
    gap: 30px;
 }

 .banner__left {
    display: flex;
    width: 572px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
 }

 .banner__left__name {
    font-size: 16px;
    font-weight: 700;
    color: #8d5cf6;  
 }

 .banner__left__title {
    font-size: 58px;
    font-weight: 700;  
 }

 .banner__left__des {
    font-size: 20px;
    font-weight: 400;
    width: 458px;
 }

 .banner__btn {
    display: flex;
    align-items: flex-start;
    gap: 10px;
 }

 .btn__join {
    padding: 15px 40px;
    border-radius: 5px;
    background-color: #8d5cf6;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #8d5cf6;
 }

 .btn__learn {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid #8d5cf6;
    background-color: #26335d;
 }

 .banner__right {
    display: flex;
    width: 704px;
    height: 682px;
    align-items: center;
 }

 .banner__img {
    width: 642px;  
 }
 /* End baner */

 /* Start introduce */
 .container__introduce {
    display: flex;
    width: 1050px;  
    flex-direction: column;
    gap: 80px;
    align-items: center;  
    padding: 0px 195px; 
    margin-top: 160px; 
    margin-bottom: 160px;
 }

.intro__content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 691px;
    text-align: center;
    letter-spacing: 0.2px;
 }

 .intro__content__prac {
    color: #8d5cf6;
    line-height: 1.7;
 }

  .intro__content__title {
    text-align: center;
    font-size: 40px;
    line-height: 1.25;
 }

 .intro__content__desc {
    font-weight: 400;
    line-height: 1.45;
 }

 .intro__video {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
 }

 .intro__img {
    width: 688px;
    height: 363px;
 }

 .intro__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #8d5cf6;
    background-color: #8d5cf6;
    position: absolute;
    left: 50%;
    top: 50%;
 }

 .icon__play {
    display: inline-block;
    background-image: url('./images/svg/icn-play.svg');
    background-position: center;
    width: 19px;
    height: 23px;
 }

 /* End introducce */
