.container {
	margin: 0 auto;
	width: 96%;
	max-width: 480px;

	@include tablet {
		margin: 0 auto;
		width: 80%;
		max-width: 768px;
	}

	@include desktop {
		margin: 0 auto;
		width: 95%;
		max-width: 1200px;
	}
}

.container-form {
	width: 100%;
}
