
html {
    font-size: 62.5%;
  }
  
  body {
    color: #fff;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    background-color: #26335d;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .name {
    margin-left: 136px;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 133.333%; /*  */
    letter-spacing: 0.01rem;
    padding: 13px 42px 13px 0;
  }
  
  .header__btn {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px 25px;
    white-space: nowrap;
    border: 1px solid #8d5cf6;
    border-radius: 0.5rem;
    background: var(--primary-color, #8d5cf6);
    color: var(--light-text-color, #fff);
    /* btn-text */
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 157.143%; /* 157.143% */
    letter-spacing: 0.02rem;
  }
  
  .header {
    margin: 20px 0;
  }
  .header-wrapper {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
  }
  .header__action {
    margin-left: 240px;
    display: flex;
    align-items: baseline;
  }
  .header__login {
    color: var(--light-text-color, #fff);
    margin-right: 45px;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 157.143%; /* 157.143% */
    letter-spacing: 0.02rem;
  }
  
  .navbar {
    margin-left: 83px;
  }
  .navbar__list {
    display: flex;
    align-items: center;
  }
  .navbar__link {
    padding: 8px 10.5px;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 171.429%; /* 171.429% */
    letter-spacing: 0.02rem;
  }
  
  

  .hero-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1170px;
    margin: 0 auto;
  }
  .hero__content {
    width: 573px;
  }
  .hero__tag {
    color: var(--primary-color, #8d5cf6);
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%; /* 150% */
    letter-spacing: 0.01rem;
  }
  .hero__sec {
    margin: 30px 0;
    color: var(--light-text-color, #fff);
    /* h1 */
    font-family: Montserrat;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 137.931%; /* 137.931% */
    letter-spacing: 0.02rem;
  }
  .hero__headline {
    max-width: 458px;
    color: var(--light-text-color, #fff);
    /* h4 */
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%; /* 150% */
    letter-spacing: 0.02rem;
  }
  .hero__cta {
    margin-top: 30px;
    display: flex;
    gap: 10px;
  }
  .hero__button {
    padding: 15px 40px;
    border-radius: 5px;
    background: var(--primary-color, #8d5cf6);
    border: 1px solid #8d5cf6;
    color: var(--light-text-color, #fff);
    text-align: center;
    /* btn-text */
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 157.143%; /* 157.143% */
    letter-spacing: 0.02rem;
  }
  .hero__button:nth-child(2) {
    background-color: transparent;
  }
  .hero__media {
    position: relative;
    width: 50%;
    height: calc(100vh - 110px);
  }
  .hero__img {
    position: absolute;
    display: block;
    margin-left: 300px;
    width: 97%;
    object-fit: cover;
    bottom: 0;
    left: -100px;
  }
  .hero__img::before {
    content: url(../assets/img/hero-decor1.png);
    position: absolute;
    height: 44.4375rem;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    z-index: -1;
  }