.btn {
	border: none;
}
.btn-banner {
	width: 40px ;
	height: 40px;
	background-color: $bg-color-primary;
	background-image: url("../assets/images/banner/arrows-right.svg");
	background-position: center;
	background-repeat: no-repeat;
}
