.navbar {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
  }

  &__icon-search {
    width: 27px;
    height: 27px;
  }

  &__icon-avata {
    width: 32px;
    height: 32px;
  }

  &__icon-menu {
    width: 24px;
    height: 24px;
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.5s;
    background-color: rgba(0, 0, 0, 0.5);

    #check:checked ~ &__list {
      display: block;
      transform: translateX(0%);
      transition: all linear 0.3s;
    }
  }

  #check {
    display: none;
  }

  .navbar__menu__link {
    text-decoration: none;
    font-size: $fs-x-medium;
    font-family: $font-secondary;

    &:hover {
      color: #7c9eef;
    }
  }

  &__list {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    padding: 2rem;
    background: #1f2e35;
    border: 1px solid var(--primary-color);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    @media (min-width: $desktop) {
      .checkbtn {
        display: none;
      }

      & {
        position: static;
        display: flex;
        gap: 32px;
        padding: 0;
        background: transparent;
        border: none;
      }

      .navbar__menu {
        display: flex;
        flex-direction: row;
        gap: 46px;
      }
    }
  }
}
